.form-sign {
  width: 100%;
  max-width: 330px;
 
  align-items: center;
  padding: 15px;
  padding-top: 40px;
  margin: auto;
}

.form-sign .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-sign .form-control:focus {
  z-index: 2;
}

input.top-control {
  margin-bottom: -2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

input.middle-control {
  margin-bottom: -1px;
  border-radius: 0;
}

input.bottom-control {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}